OrderEntryWebservice/src/main/webapp/WEB-INF/NotifXSD/CancelPlan.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/communications/schemas/CRMSync" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CancelPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="AccountNo" minOccurs="1" maxOccurs="1"/>
        <xs:element type="xs:string" name="AccountObj" minOccurs="1" maxOccurs="1"/>
        <xs:element type="xs:byte" name="BillableItem" minOccurs="1" maxOccurs="1"/>
        <xs:element type="xs:string" name="PlanName" minOccurs="1" maxOccurs="1"/>
        <xs:element type="xs:string" name="ServiceIdentifier" minOccurs="1" maxOccurs="1"/>
        <xs:element type="xs:string" name="MSISDN" minOccurs="1" maxOccurs="1"/>
        <xs:element type="xs:string" name="ServiceType" minOccurs="1" maxOccurs="1"/>
        <xs:element type="xs:string" name="EndT" minOccurs="1" maxOccurs="1"/>
        <xs:element type="xs:string" name="StartT" minOccurs="1" maxOccurs="1"/>
        <xs:element type="xs:string" name="BasePlanName" minOccurs="1" maxOccurs="1"/>
        <xs:element type="xs:string" name="CancelPlanName" minOccurs="1" maxOccurs="1"/>
        <xs:element type="xs:string" name="ActionName" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="InstanceId"/>
    </xs:complexType>
  </xs:element>
</xs:schema>