OrderEntryWebservice/src/main/webapp/WEB-INF/OpcodeRootXSD/Opcode.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes/" xmlns:bus="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes/">
  <xs:element name="opcode">
    <xs:complexType>
        <xs:sequence>
          <xs:element name="opcodeName" form="unqualified" type="xs:string"/>
          <xs:element name="inputXml" form="unqualified" type="xs:string"/>
          <xs:element name="m_SchemaFile" form="unqualified" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>     
    </xs:complexType>
  </xs:element>   
</xs:schema>
